@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Bold.eot");
    src:
        local("Manrope Bold"),
        local("Manrope-Bold"),
        url("../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-Bold.woff2") format("woff2"),
        url("../fonts/Manrope-Bold.woff") format("woff"),
        url("../fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-ExtraBold.eot");
    src:
        local("Manrope ExtraBold"),
        local("Manrope-ExtraBold"),
        url("../fonts/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-ExtraBold.woff2") format("woff2"),
        url("../fonts/Manrope-ExtraBold.woff") format("woff"),
        url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-ExtraLight.eot");
    src:
        local("Manrope ExtraLight"),
        local("Manrope-ExtraLight"),
        url("../fonts/Manrope-ExtraLight.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-ExtraLight.woff2") format("woff2"),
        url("../fonts/Manrope-ExtraLight.woff") format("woff"),
        url("../fonts/Manrope-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Medium.eot");
    src:
        local("Manrope Medium"),
        local("Manrope-Medium"),
        url("../fonts/Manrope-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-Medium.woff2") format("woff2"),
        url("../fonts/Manrope-Medium.woff") format("woff"),
        url("../fonts/Manrope-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Light.eot");
    src:
        local("Manrope Light"),
        local("Manrope-Light"),
        url("../fonts/Manrope-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-Light.woff2") format("woff2"),
        url("../fonts/Manrope-Light.woff") format("woff"),
        url("../fonts/Manrope-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.eot");
    src:
        local("Manrope Regular"),
        local("Manrope-Regular"),
        url("../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-Regular.woff2") format("woff2"),
        url("../fonts/Manrope-Regular.woff") format("woff"),
        url("../fonts/Manrope-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-SemiBold.eot");
    src:
        local("Manrope SemiBold"),
        local("Manrope-SemiBold"),
        url("../fonts/Manrope-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-SemiBold.woff2") format("woff2"),
        url("../fonts/Manrope-SemiBold.woff") format("woff"),
        url("../fonts/Manrope-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// ############################################################################
// TEXT
// ############################################################################

.text {
    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-left {
        text-align: left;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-capitalize {
        text-transform: capitalize;
    }

    &-lowercase {
        text-transform: lowercase;
    }
}

// ############################################################################
// font size
// ############################################################################

// Font weight map
$font-weights: (
    bold: 700,
    light: 300,
    medium: 500,
    regular: 400,
    semi-bold: 600,
    extra-bold: 800,
    extra-light: 200,
    black: 900
);

.font {
    &-85 {
        font-size: 85px;
        line-height: 1.3;

        @media screen and (max-width: 1199px) {
            font-size: 70px;
        }

        @media screen and (max-width: 991px) {
            font-size: 50px;
        }

        @media screen and (max-width: 767px) {
            font-size: 40px;
        }
    }

    &-75 {
        font-size: 75px;
        line-height: 1.3;

        @media screen and (max-width: 1199px) {
            font-size: 60px;
        }

        @media screen and (max-width: 991px) {
            font-size: 42px;
        }

        @media screen and (max-width: 767px) {
            font-size: 32px;
        }
    }

    &-50 {
        font-size: 50px;
        line-height: 1.5;

        @media screen and (max-width: 1199px) {
            font-size: 40px;
        }

        @media screen and (max-width: 991px) {
            font-size: 35px;
        }

        @media screen and (max-width: 767px) {
            font-size: 30px;
        }
    }

    &-36 {
        font-size: 36px;
        line-height: 1.3;

        @media screen and (max-width: 1199px) {
            font-size: 32px;
        }

        @media screen and (max-width: 991px) {
            font-size: 24px;
        }

        @media screen and (max-width: 767px) {
            font-size: 22px;
        }
    }

    &-34 {
        font-size: 34px;
        line-height: 1.5;

        @media screen and (max-width: 1199px) {
            font-size: 30px;
        }

        @media screen and (max-width: 991px) {
            font-size: 25px;
        }

        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }

    &-30 {
        font-size: 30px;
        line-height: 1.5;

        @media screen and (max-width: 1199px) {
            font-size: 25px;
        }

        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
    }

    &-24 {
        font-size: 24px;
        line-height: 1.5;

        @media screen and (max-width: 1199px) {
            font-size: 20px;
        }

        @media screen and (max-width: 991px) {
            font-size: 18px;
        }
    }

    &-18 {
        font-size: 18px;
        line-height: 1.5;

        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }

    @each $name, $weight in $font-weights {
        &-#{"#{$name}"} {
            font-weight: $weight;
        }
    }
}
