.header {
    padding: 26px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition:
        background-color 0.3s ease,
        padding 0.3s ease;

    @media screen and (max-width: 767px) {
        padding: 16px;
    }

    &.is-active {
        nav {
            pointer-events: all;
            opacity: 1;
            visibility: visible;
        }
    }

    nav {
        @media screen and (max-width: 767px) {
            position: fixed;
            padding: 24px;
            width: 100vw;
            height: 100vh;
            overflow: auto;
            top: 75px;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--color-white);
            z-index: 9999;
            opacity: 0;
            overflow: auto;
            visibility: hidden;
            pointer-events: none;
            border-top: 1px solid var(--color-primary);
            transition:
                opacity 0.3s ease,
                visibility 0.3s ease;
        }

        @media screen and (max-width: 767px) {
            top: 60px;
        }
    }

    .header-logo img {
        max-width: 200px;
        filter: brightness(20);

        @media screen and (max-width: 991px) {
            max-width: 160px;
        }
    }

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            gap: 60px;
            align-items: center;
            color: var(--color-white);
            font-weight: 500;

            @media screen and (max-width: 1199px) {
                gap: 40px;
            }

            @media screen and (max-width: 991px) {
                gap: 20px;
            }

            @media screen and (max-width: 767px) {
                flex-direction: column;
                color: var(--color-primary);
                align-items: flex-start;
                padding: 16px;
                background-color: #e3f1ff;
                border-radius: 10px;
            }

            li {
                display: flex;
                align-items: center;
                gap: 4px;
                position: relative;

                @media screen and (max-width: 767px) {
                    justify-content: space-between;
                    width: 100%;
                    flex-wrap: wrap;
                }

                svg {
                    transition: all 0.3s ease;

                    path {
                        @media screen and (max-width: 767px) {
                            fill: var(--color-primary);
                        }
                    }
                }

                .header-subnav-wrapper {
                    position: absolute;
                    width: 280px;
                    top: 100%;
                    left: 0;
                    opacity: 0;
                    pointer-events: none;
                    visibility: hidden;
                    transition: all 0.3s ease;

                    @media screen and (max-width: 767px) {
                        width: 100%;
                        position: static;
                        display: none;
                        opacity: 1;
                        pointer-events: all;
                        visibility: visible;
                    }

                    &.right-0 {
                        right: 0;
                        left: initial;
                    }

                    .header-subnav {
                        border: 1px solid var(--color-primary);
                        background-color: var(--color-white);
                        display: grid;
                        gap: 10px;
                        padding: 12px;
                        color: var(--color-primary);
                        border-radius: 4px;

                        @media screen and (max-width: 767px) {
                            border: 0;
                            padding: 0;
                            margin-top: 10px;
                            padding: 0;
                            gap: 0;
                        }

                        li {
                            position: relative;
                            align-items: center;
                            border-radius: 4px;
                            transition: all 0.3s ease;

                            &:hover {
                                @media screen and (min-width: 768px) {
                                    background-color: var(--color-primary-light);
                                    color: var(--color-primary);
                                }
                            }

                            &:not(:has(.header-inner-btn)) {
                                display: block;
                            }

                            .header-inner-btn {
                                @media screen and (max-width: 767px) {
                                    margin-right: 10px;
                                }

                                svg {
                                    margin: 0;

                                    path {
                                        fill: var(--color-primary);
                                    }
                                }
                            }

                            &:hover {
                                svg {
                                    @media screen and (min-width: 768px) {
                                        transform: scaleY(-1);
                                    }
                                }

                                .header-subnav-inner-wrapper {
                                    padding-right: 20px;
                                    pointer-events: all;
                                    opacity: 1;
                                    visibility: visible;

                                    @media screen and (max-width: 767px) {
                                        padding: 0;
                                    }
                                }
                            }

                            .header-subnav-inner-wrapper {
                                position: absolute;
                                right: 100%;
                                top: -16px;
                                opacity: 0;
                                visibility: hidden;
                                pointer-events: none;
                                transition: all 0.3s ease;

                                @media screen and (max-width: 767px) {
                                    display: none;
                                    opacity: 1;
                                    visibility: visible;
                                    pointer-events: all;
                                    position: static;
                                    width: 100%;
                                    padding: 0;
                                }

                                ul {
                                    display: grid;
                                    top: 0;
                                    gap: 0;
                                    right: 100%;
                                    width: 280px;
                                    padding: 16px;
                                    background-color: var(--color-white);
                                    border-radius: 10px;
                                    border: 1px solid var(--color-primary);

                                    @media screen and (max-width: 767px) {
                                        width: 100%;
                                        padding: 0;
                                        border: none;
                                        background: transparent;
                                        border-radius: 4px;
                                        box-shadow: inset 0 0 100px 10px #f2f8ff;
                                    }

                                    li {
                                        display: block;

                                        a {
                                            color: var(--color-primary);
                                            &:hover {
                                                color: var(--color-primary);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        a {
                            padding: 8px 12px 10px;
                            display: block;

                            &::after {
                                display: none;
                            }

                            &:hover {
                                color: var(--color-primary);
                            }
                        }
                    }
                }

                &:hover {
                    .header-btn svg {
                        @media screen and (min-width: 768px) {
                            transform: scaleY(-1);
                        }
                    }

                    .header-subnav-wrapper {
                        opacity: 1;
                        pointer-events: all;
                        visibility: visible;
                        padding-top: 20px;

                        @media screen and (max-width: 767px) {
                            padding: 0;
                            opacity: 1;
                            visibility: visible;
                            pointer-events: all;
                        }
                    }
                }
            }

            a {
                position: relative;
                transition: all 0.3s ease;

                @media screen and (max-width: 767px) {
                    display: block;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -8px;
                    width: 0;
                    height: 2px;
                    background-color: var(--color-primary-light);
                    transition: width 0.3s ease-in-out;

                    @media screen and (max-width: 767px) {
                        background-color: var(--color-primary);
                        height: 1px;
                        bottom: 0;
                    }
                }

                &:hover::after,
                &.active::after {
                    width: 100%;
                }

                &:hover,
                &.active {
                    color: var(--color-primary-light);

                    @media screen and (max-width: 767px) {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }

    &.is-scroll {
        background-color: var(--color-white);
        padding: 18px 30px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        @media screen and (max-width: 767px) {
            padding: 16px;
        }

        .header-logo img {
            filter: brightness(1);
        }

        .header-inner ul {
            color: var(--color-black);

            a {
                color: var(--color-primary);

                &::after {
                    background-color: var(--color-primary);
                }
            }

            li {
                svg {
                    path {
                        fill: var(--color-primary);
                    }
                }
            }
        }
    }

    .header-inner-btn,
    .header-btn {
        background-color: transparent;
        border: none;
        display: inline-block;
        cursor: pointer;
        padding: 0;

        @media screen and (max-width: 767px) {
            padding: 5px;
            background-color: var(--color-primary-light);
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
        }

        svg {
            margin-bottom: -4px;
            height: 20px;
            width: 20px;
            fill: var(--color-white);

            @media screen and (max-width: 767px) {
                margin: 0;
            }

            path {
                fill: var(--color-white);
            }
        }
    }

    .selected-dot {
        width: 8px;
        height: 8px;
        background-color: #27ae60;
        border-radius: 50%;
        display: none;
        margin-left: auto;
    }

    .selected-dot.active {
        display: inline-block;
    }

    .header-nav-wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .language-switcher {
        position: relative;
        display: inline-block;
        font-family: sans-serif;
    }

    #language-btn {
        // background: white;
        background-color: transparent;
        color: var(--color-white);
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 5px;
    }

    .flag {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 1px solid #f0f0f0;
    }

    .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    .option {
        padding: 8px 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }

    .option:hover {
        background-color: #f0f0f0;
    }

    .hidden {
        display: none;
    }

    &.is-scroll #language-btn {
        color: var(--color-black);
    }
}

.hamburger {
    position: relative;
    font: inherit;
    display: none;
    overflow: visible;
    margin: 0;
    padding: 0;
    height: 22px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;

    @media screen and (max-width: 767px) {
        display: block;
    }
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 24px;
}

.hamburger-inner {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    display: block;
    width: 30px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: var(--color-white);
    transition-duration: 75ms;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    .is-scroll & {
        background-color: var(--color-black);
    }
}

.hamburger-inner:after,
.hamburger-inner:before {
    display: block;
    content: "";
}

.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 30px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: var(--color-white);

    .is-scroll & {
        background-color: var(--color-black);
    }
}

.hamburger-inner:before {
    top: -10px;
}

.hamburger .hamburger-inner:before {
    transition:
        top 75ms ease 0.12s,
        opacity 75ms ease;
}

.hamburger-inner:after {
    bottom: -10px;
}

.hamburger .hamburger-inner:after {
    transition:
        bottom 75ms ease 0.12s,
        transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger.is-active .hamburger-inner {
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(45deg);
}

.hamburger.is-active .hamburger-inner:before {
    top: 0;
    transition:
        top 75ms ease,
        opacity 75ms ease 0.12s;
    opacity: 0;
}

.hamburger.is-active .hamburger-inner:after {
    bottom: 0;
    transition:
        bottom 75ms ease,
        transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transform: rotate(-90deg);
}
