.vision {
    color: var(--color-white);
    overflow: hidden;
    position: relative;

    &__content {
        position: relative;
        z-index: 2;
        padding: 48px;

        @media screen and (max-width: 991px) {
            padding: 24px;
        }

        @media screen and (max-width: 767px) {
            padding: 10px 15px 18px;
        }
    }

    &__inner {
        margin: 30px 0;
        display: grid;
        border-radius: 24px;
        overflow: hidden;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        background: repeating-radial-gradient(circle, transparent, transparent 6.3px, #e4f6ff0b 6.3px, #e4f6ff0b 8.1px),
            repeating-radial-gradient(circle, transparent, transparent 6.3px, #e4f6ff0b 6.3px, #e4f6ff0b 8.1px), #ffffff;
        background-size: 36px 36px;
        background-position:
            0 0,
            18px 18px,
            36px 18px;
        background-color: var(--color-primary);

        @media screen and (max-width: 991px) {
            grid-template-columns: 1fr;
            border-radius: 20px;
        }

        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
            border-radius: 16px;
        }
    }

    &__title {
        margin-bottom: 32px;

        @media screen and (max-width: 991px) {
            margin-bottom: 24px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 16px;
        }
    }

    &__text {
        line-height: 1.5;
    }

    &__subtitle {
        margin-bottom: 20px;

        @media screen and (max-width: 991px) {
            margin-bottom: 16px;
        }
    }

    &__image {
        position: relative;
        height: 100%;
        z-index: 3;

        @media screen and (max-width: 767px) {
            overflow: hidden;
        }

        &-inner {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            // width: 50vw;
            width: 100%;
            object-fit: cover;

            @media screen and (max-width: 991px) {
                position: relative;
                right: initial;
                top: initial;
                width: 100%;
                z-index: 3;
            }

            img {
                object-fit: cover;
                position: relative;
                display: block;
                height: calc(100% + 2px) !important;
                width: calc(100% + 2px) !important;
                margin: -1px;
            }
        }
    }
}
