:root {
    --color-black: #000;
    --color-white: #fff;
    --color-primary: #32506a;
    --color-primary-light: #b8d5f1;
    --color-gray-light: #707070;
    --color-gray-light-2: #a2a2a2;
    --color-title: #393e46;
    --color-gray: #393e46;
}
