.marketing {
    background-image: radial-gradient(#dad6ffb3 1px, transparent 1px);
    background-size: 10px 10px;
    background-color: var(--color-primary-bg);

    &__subtitle {
        color: var(--color-gray-light);
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr 500px;
        grid-gap: 32px;
        align-items: center;

        @media screen and (max-width: 1199px) {
            grid-template-columns: 1fr 400px;
            gap: 24px;
        }

        @media screen and (max-width: 991px) {
            grid-template-columns: 1fr 280px;
        }

        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
            gap: 16px;
        }
    }

    &__title {
        color: var(--color-title);
        position: relative;
        padding-bottom: 40px;
        margin-bottom: 40px;

        @media screen and (max-width: 1199px) {
            padding-bottom: 32px;
            margin-bottom: 32px;
        }

        @media screen and (max-width: 991px) {
            padding-bottom: 24px;
            margin-bottom: 24px;
        }

        @media screen and (max-width: 767px) {
            padding-bottom: 16px;
            margin-bottom: 16px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 275px;
            height: 3px;
            background-color: var(--color-primary);
        }
    }

    &__content {
        max-width: 900px;
        margin: 0 auto;
        color: var(--color-gray-light);
        line-height: 28.5px;
    }
}
