.vision {
    background: repeating-radial-gradient(circle, transparent, transparent 6.3px, #e4f6ff0b 6.3px, #e4f6ff0b 8.1px),
        repeating-radial-gradient(circle, transparent, transparent 6.3px, #e4f6ff0b 6.3px, #e4f6ff0b 8.1px), #ffffff;
    background-size: 36px 36px;
    background-position:
        0 0,
        18px 18px,
        36px 18px;
    background-color: var(--color-primary);
    color: var(--color-white);
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        clip-path: polygon(0 100%, 100% -95%, 100% 100%, 0 100%);
        background-color: var(--color-primary-light);
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 200px;
        height: 100%;
        z-index: 1;
        opacity: 0.5;
    }

    &__content {
        position: relative;
        z-index: 2;

        @media screen and (max-width: 767px) {
            padding: 0;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 64px;

        @media screen and (max-width: 991px) {
            gap: 32px;
        }

        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 20px 0;
        }
    }

    &__title {
        margin-bottom: 32px;

        @media screen and (max-width: 991px) {
            margin-bottom: 24px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 16px;
        }
    }

    &__text {
        line-height: 42px;

        @media screen and (max-width: 991px) {
            line-height: 1.5;
        }
    }

    &__image {
        position: relative;
        height: 100%;

        &-inner {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 50vw;
            object-fit: cover;

            @media screen and (max-width: 767px) {
                position: relative;
                right: initial;
                top: initial;
                width: 100%;
                z-index: 3;
            }
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
